.example-full-width {
    width: 100%;
  }

.cus-btn{
    float: right;
    background-color: #3c6ede;
    color: aliceblue;
}

.hint-text{
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

