/* Structure */
table {
    width: 100%;
  }

.cus-input{
  background-color: white;
  height: 36px;
}

.btn{
  width: 100%;
}

.icon{
  cursor: pointer;
}

.cus-font:hover{
 color: blue;
}

.placeholder{
  text-align: center;
  color: aqua;
}