.mat-dialog-actions {
    display: inherit;
}
.example-full-width {
    width: 100%;
  }

.cus-btn{
    float: right;
    background-color: grey;
    color: aliceblue;
}

.hint-text{
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.mat-input-element:disabled {
    color: black;
}